<h1>Examples for pipes</h1>

<h1>currency pipe</h1>
<p>the amount is {{amount | currency}}</p>
<p>the amount is {{amount | currency:'INR'}}</p>
<p>the amount is {{amount | currency:'EUR':'symbol-narrow':'4.3-3' }}</p>


<h1>date pipe</h1>
<p> today date is {{date | date}}</p>
<p> to show full date  {{date | date:'fullDate'|uppercase}}</p>
<p> to shoe the short form of date {{date | date:'short'}}</p>


<h1> Json pipe</h1>
<pre> changing the data into json string{{object | json}}</pre>

<h1> percent pipe</h1>
<p> my percentage is  {{percentage | percent}}</p>

<h1> slice pipe</h1>
<p> original array is {{array}}</p>
<p>sliced array is  {{array | slice:0:1}}</p>


<h1>custom pipes</h1>
<p> I used the custom pipes to print the values based on the length</p>
<p>{{value | custom }}</p>

